body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #002249; /* Couleur bleu foncé */
    height: 180px; /* Augmentation de la hauteur de l'en-tête */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Texte en blanc */
}

.header-container h1 {
    font-size: 40px; /* Taille de la police plus grande */
    margin: 0;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
